
/* ----------------------------------------------------------------------------- */
/* Header Section -------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
#headerSection{
    background-image: url(../src/Images/BG-Section-Header.jpg);
    background-size: cover;
    background-position: center center;
}
#headerDiv{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
#svg_blueviolet{
    position: absolute;
    top: -180px;
    left:-850px;
}
#svg_white{
    position: absolute;
    top: -175px;
    left:-850px;
}


#headerDiv_Content{
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
}


#headerDiv_Content h1{
    font-family: sans-serif;
    font-size: 4rem;
}
.rotating-text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}
.w-1 {
  color: blueviolet;
}
.w-2 {
  color: #f1c40f;
}
.w-3 {
  color: purple;
}
.w-4 {
  color: #2ecc71;
}
.w-5 {
  color: #8e44ad;
}

/* ----------------------------------------------------------------------------- */
/* Main Section ---------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#mainSection{
    background-image: url(../src/Images/BG-Section-Main.jpg);
    background-size: cover;
    background-position: center center;
}
#mainDiv{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

#mainSectionTitle{
    font-size: 50px;
}


.myStyle{
   width: 180px;
   height: 80px;
   margin: 0 15px;
   color: white;
   transition: all 1s;
   border-radius: 10px;
   border: solid blueviolet 5px;
   background-color: black;
}
.myStyle h1{
    color: white;
 }

.myStyle:hover{
    background-color: black;
    border: solid #E7008A 5px;
    transform: skew(-20deg);
 }

a{
    text-decoration: none;
    cursor: pointer;
}
 a h1{
    transition: all 1s;
 }

a:hover h1{
   transform: skew(20deg) rotate(360deg);
}



.myStyleIMG{
    transition: all 1s;
    border: solid white 5px;
 }
 .myStyleIMG:hover{
    border: solid blueviolet 5px;
 }

/* ----------------------------------------------------------------------------- */
/* Footer ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.footer_logo{
    width: 200px;
    height: 200px;
    transition: all 0.5s;
    border: solid black 1px;
}

.footer_logo:hover{
    border: solid blueviolet 10px;
}

/* ----------------------------------------------------------------------------- */
/* Shared ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.Pointer{
    cursor: pointer;
}

.a_None{
    text-decoration: none;
}

.SM-BTN-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid black 3px;
    transition: transform 0.75s;
}
.SM-BTN-icon:hover{
    border: solid white 2px;
    transform: scale(1.25);
}

.GitHub{
    color: black;
}

.LinkedIn{
    color: #0366C3;
}

.Facebook{
    color: #1877F2;
}

.Twitter{
    color: #1877F2;
}

.Instagram{
    color: #E8067F;
}

.Youtube{
    color: red;
}

.TikTok{
    color: black;
}
